.webclient {
	font-size: 1.25em;
	font-family: Consolas, "Courier New", PMingLiU, NSimSun, monospace;
}

.webclient .input {
	background-color: lightblue;
	min-width: 1em;
	float: left;
	display: inline-block;
}